.app-header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 50px;
  margin-bottom: 25px;
}

.app-logo {
  width: 96px;
}

@media (max-width: 768px) {
  .app-header {
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  }
}