.detail-box {
  border: 1px solid rgba(34, 34, 34, 0.05);
  box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.05);
  border-radius: 8px;
}

.col-title {
  flex-basis: 30%;
  align-self: center;
}

.col-desc {
  flex-basis: 70%;
}

.col-desc-sm {
  flex-basis: 20%;
}

.detail-row {
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  padding: 12px 10px;
}

.two-col {
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

.two-col .detail-title {
  padding: 12px 0;
  padding-left: 10px;
}

.two-col .detail-desc {
  padding: 12px 0;
}

.file-icon {
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
}

.filename {
  color: #222222;
  text-decoration: none;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .col-title {
    flex-basis: 40%
  }

  .col-desc {
    flex-basis: 60%;
  }

  .col-desc-sm {
    flex-basis: 60%;
  }

  .two-col .detail-title:first-child,
  .two-col .border-right {
    border-bottom: 1px solid rgba(34, 34, 34, 0.05)
  }

  .block-sm {
    flex-basis: 100%;
    padding: 3px 0;
  }
}